/*
* -------------------------------------------------
* Iris config
* -------------------------------------------------
* Pipeline parameters specific to running with slurm on the IRIS cluster at MSKCC
* -------------------------------------------------
*/
profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'componc_cpu,componc_gpu'
    }
}

params {

  // Limit resources so that this can run CI
  max_cpus   = 10
  max_memory = 40.GB
  max_time   = 240.h
}


process {
    withName: 'NFCORE_NANOSEQ:NANOSEQ:ALIGN_MINIMAP2:MINIMAP2_ALIGN' {
        time = 96.h
        container = "/data1/shahs3/users/havasove/isabl_software/singularity_sifs/nanopore/minimap2.sif"
        cpus = 20
        memory = 40.GB
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:QCFASTQ_NANOPLOT_FASTQC:FASTQC' {
        time = 96.h
        cpus = 20
        memory = 400.GB
        container = "/data1/shahs3/users/havasove/isabl_software/singularity_sifs/nanopore/fastqc.sif"
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:QCFASTQ_NANOPLOT_FASTQC:NANOPLOT' {
        time = 24.h
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:BEDTOOLS_UCSC_BIGWIG:BEDTOOLS_GENOMECOV' {
        time = 72.h
        memory = 60.GB
        container = "/data1/shahs3/users/havasove/isabl_software/singularity_sifs/nanopore/bedtools.sif"
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:RNA_FUSIONS_JAFFAL:JAFFAL' {
        time = 96.h
    }
}


